.displayBox {
    text-align: center;
}

.numberRow {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.operationRow {
    width: 30px;
    float: right;
    position: absolute;
    right: 40%;
}

.opButton {
    height: 30px;
    width: 30px;
    font-size: 20px;
}

.opButton:hover {
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-style: solid;
    border-color: red;
}

.numberButton {
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: darkgray;
}

.numberButton:hover {
    height: 50px;
    width: 50px;
    font-size: 30px;
    font-weight: 700;
    border-style: solid;
    border-color: black;
    background-color: darkgray;
}

.numberButton:active {
    height: 50px;
    width: 50px;
    font-size: 30px;
    font-weight: 700;
    border-style: solid;
    border-color: black;
    background-color: rgb(51, 51, 51);
}