.square {
    height: 30px;
    width: 30px;
    font-size: 15px;
    vertical-align: top;
}

.moveBtn:hover {
    font-weight: 700;
}

.winSquare {
    height: 30px;
    width: 30px;
    background-color: gold;
    font-weight: 700;
}